.navbar {
  background-color: #494545;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #d3d3d3;
  height: var(--navbar-height);
}

.narrow{
  max-width: 1400px;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}