@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
  --footer-height: 60px;
  --header-height: 4rem;
  --max-width: 1400px
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}


.narrow{
  max-width: var(--max-width);

}


