@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
:root {
  --footer-height: 60px;
  --navbar-height: 64px;
  --max-width: 1400px

}

* {
  box-sizing: border-box ;
}

body {
  margin: 0;
  padding: 0;
}
.app {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: var( --navbar-height); */
  
}

.tab {
  font-size: 24px;
  
}
.MuiButton-root{
  color:aqua;
}